* {
	margin: 0;
	padding: 0;
}

body {
	background: #edf4f9;
}

form label {
	display: block;
	font-size: 16px;
	margin: 5px 0 5px 0;
}

form {
	margin: 0 auto;
	width: 80%;
	margin-bottom: 30px;
}

form input {
	width: 50%;
	height: 30px;
	font-size: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 5px;
}

.submits {
	background-color: #5388DC;
	color: white;
	width: 80px;
	font-size: 16px;
	margin-right: 2%;
}

content {
	text-align: center;
}

span {
	font-size: 12px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clear {
	zoom: 1;
}

.regs {
	width: 50%;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: white;
}

h2 {
	/*background-color: #195d97;*/
	color: #195d97;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 45px;
	line-height: 40px;
	font-family: '微软雅黑';
}

.regs h3 {
	width: 95%;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #ccc;
}

h6 {
	text-align: center;
	font-size: 12px;
	color: #195d97;
}

span {
	height: 30px;
}