<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YWSALARY</display-name>
  <welcome-file-list>
    <welcome-file>user.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>www.gyxz.web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListGroup</display-name>
    <servlet-name>ListGroup</servlet-name>
    <servlet-class>www.gyxz.web.ListGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGroup</servlet-name>
    <url-pattern>/ListGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupSave</display-name>
    <servlet-name>GroupSave</servlet-name>
    <servlet-class>www.gyxz.web.GroupSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupSave</servlet-name>
    <url-pattern>/GroupSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupDelete</display-name>
    <servlet-name>GroupDelete</servlet-name>
    <servlet-class>www.gyxz.web.GroupDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupDelete</servlet-name>
    <url-pattern>/GroupDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupNameList</display-name>
    <servlet-name>GroupNameList</servlet-name>
    <servlet-class>www.gyxz.web.GroupNameList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupNameList</servlet-name>
    <url-pattern>/GroupNameList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryList</display-name>
    <servlet-name>SalaryList</servlet-name>
    <servlet-class>www.gyxz.web.SalaryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryList</servlet-name>
    <url-pattern>/SalaryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalarySave</display-name>
    <servlet-name>SalarySave</servlet-name>
    <servlet-class>www.gyxz.web.SalarySave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalarySave</servlet-name>
    <url-pattern>/SalarySave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryDelete</display-name>
    <servlet-name>SalaryDelete</servlet-name>
    <servlet-class>www.gyxz.web.SalaryDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryDelete</servlet-name>
    <url-pattern>/SalaryDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryPay</display-name>
    <servlet-name>SalaryPay</servlet-name>
    <servlet-class>www.gyxz.web.SalaryPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryPay</servlet-name>
    <url-pattern>/SalaryPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdate</display-name>
    <servlet-name>AdminUpdate</servlet-name>
    <servlet-class>www.gyxz.web.AdminUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdate</servlet-name>
    <url-pattern>/AdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminExit</display-name>
    <servlet-name>AdminExit</servlet-name>
    <servlet-class>www.gyxz.web.AdminExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExit</servlet-name>
    <url-pattern>/AdminExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeUpdate</display-name>
    <servlet-name>NoticeUpdate</servlet-name>
    <servlet-class>www.gyxz.web.NoticeUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeUpdate</servlet-name>
    <url-pattern>/NoticeUpdate</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFillter</display-name>
    <filter-name>LoginFillter</filter-name>
    <filter-class>www.gyxz.filter.LoginFillter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFillter</filter-name>
    <url-pattern>/LoginFillter</url-pattern>
    <url-pattern>/admin-404.jsp</url-pattern>
    <url-pattern>/admin-index.jsp</url-pattern>
    <url-pattern>/group.jsp</url-pattern>
    <url-pattern>/password.jsp</url-pattern>
    <url-pattern>/salary.jsp</url-pattern>
    <url-pattern>/teacher.jsp</url-pattern>
    <url-pattern>/update.jsp</url-pattern>
    <url-pattern>/AdminUpdate</url-pattern>
    <url-pattern>/GroupNameList</url-pattern>
    <url-pattern>/GroupSave</url-pattern>
    <url-pattern>/ListGroup</url-pattern>
    <url-pattern>/NoticeUpdate</url-pattern>
    <url-pattern>/SalaryDelete</url-pattern>
    <url-pattern>/SalaryList</url-pattern>
    <url-pattern>/SalaryPay</url-pattern>
    <url-pattern>/SalarySave</url-pattern>
    <url-pattern>/TeacherDelete</url-pattern>
    <url-pattern>/TeacherList</url-pattern>
    <url-pattern>/TeacherSave</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>www.gyxz.qiantai.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QianListSalry</display-name>
    <servlet-name>QianListSalry</servlet-name>
    <servlet-class>www.gyxz.qiantai.QianListSalry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QianListSalry</servlet-name>
    <url-pattern>/QianListSalry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserName</display-name>
    <servlet-name>CheckUserName</servlet-name>
    <servlet-class>www.gyxz.qiantai.CheckUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserName</servlet-name>
    <url-pattern>/CheckUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCard</display-name>
    <servlet-name>CheckCard</servlet-name>
    <servlet-class>www.gyxz.qiantai.CheckCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCard</servlet-name>
    <url-pattern>/CheckCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>www.gyxz.qiantai.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSave</display-name>
    <servlet-name>UserSave</servlet-name>
    <servlet-class>www.gyxz.qiantai.UserSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSave</servlet-name>
    <url-pattern>/UserSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remeber</display-name>
    <servlet-name>Remeber</servlet-name>
    <servlet-class>www.gyxz.qiantai.Remeber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remeber</servlet-name>
    <url-pattern>/Remeber</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>QiantaiFilter</display-name>
    <filter-name>QiantaiFilter</filter-name>
    <filter-class>www.gyxz.filter.QiantaiFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>QiantaiFilter</filter-name>
    <url-pattern>/qiantai/update.jsp</url-pattern>
    <url-pattern>/qiantai/json.jsp</url-pattern>
    <url-pattern>/UpdateUser</url-pattern>
    <url-pattern>/QianListSalry</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>TeacherList</display-name>
    <servlet-name>TeacherList</servlet-name>
    <servlet-class>www.gyxz.web.TeacherList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherList</servlet-name>
    <url-pattern>/TeacherList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSave</display-name>
    <servlet-name>TeacherSave</servlet-name>
    <servlet-class>www.gyxz.web.TeacherSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSave</servlet-name>
    <url-pattern>/TeacherSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDelete</display-name>
    <servlet-name>TeacherDelete</servlet-name>
    <servlet-class>www.gyxz.web.TeacherDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDelete</servlet-name>
    <url-pattern>/TeacherDelete</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>www.gyxz.filter.XzLisen</listener-class>
  </listener>

</web-app>